h3, p {
    margin-left: 340px;   
    margin-top: 30px;
}

/* Modal */
.fade {
    margin: 90px 0 0 15px;
}
  
.modal-footer-button {
    margin: 1rem -1rem -1rem -1rem;
    display: flex;    
    button {
       flex: 1 0 auto;
    }
}