<div class="cb--page-header__container">
    <header _ngcontent-yve-c2="" class="cb--page-header" role="banner">
        <div _ngcontent-yve-c2="">
            <div _ngcontent-yve-c2="" class="cb--page-header__title" id="page-title"> Configure Core Banking </div>
        </div>
    </header>
    <div id="breadcrumb"></div>
</div>
<div class="cb--page-content__container">
    <div toastContainer></div>
    <div class="idbp-form-container">
        <h4>Connect to Core Banking</h4>
        <form [formGroup]="cbsForm" (ngSubmit)="onCbsIntegrationSubmit()" class="signin-form">
            <div class="forms-gds">
                <fieldset class="bx--fieldset">
                    <ibm-label [invalid]="!f.name.pristine && f.name.errors"
                        [invalidText]="'* only starting with small letters and hyphens are allowed'">
                        Name
                        <input ibmText formControlName="name" [invalid]="submitted && f.name.errors"
                            [placeholder]="'Enter Name'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset">
                    <ibm-label>
                        Description (optional)
                        <input ibmText formControlName="desc" [placeholder]="'Enter Description'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset">
                    <ibm-label [invalid]="!f.address.pristine && f.address.errors"
                        [invalidText]="'Address is required'">
                        FQDN address
                        <input ibmText formControlName="address" [invalid]="submitted && f.address.errors"
                            [placeholder]="'Enter FQDN address'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset">
                    <ibm-label [invalid]="!f.port.pristine && f.port.errors"
                        [invalidText]="'* only numbers are allowed'">
                        Port
                        <input ibmText formControlName="port" [invalid]="submitted && f.port.errors"
                            [placeholder]="'Enter Port'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset">
                    Connection Protocol <br /><br />
                    <select class="custom-select" formControlName="connectionProtocol">
                        <option value="">Choose your Connection Protocol</option>
                        <option value="TCP">TCP</option>
                        <option value="HTTP">HTTP</option>
                        <option value="HTTPS">HTTPS</option>
                    </select>
                    <div class="bx--form-requirement" *ngIf="submitted && f.connectionProtocol.errors">
                        Connection Protocol is required
                    </div>
                </fieldset>

                <fieldset class="bx--fieldset">
                    <ibm-label [invalid]="!f.mFormat.pristine && f.mFormat.errors"
                        [invalidText]="'Message Format is required'">
                        Message Format
                        <input ibmText formControlName="mFormat" [invalid]="submitted && f.mFormat.errors"
                            [placeholder]="'Enter Message Format'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset">
                    Authentication Type <br /><br />
                    <table class="table hover">
                        <tbody>
                            <tr *ngFor="let auth of this.authData">
                                <td><input type="checkbox" formControlName="authType" name="authType" value="{{auth}}"
                                        (change)="onAuthCboxChangeHandler($event)"> </td>
                                <td>{{auth}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="bx--form-requirement" *ngIf="submitted && f.authType.errors">
                        Authentication Type is required
                    </div>
                </fieldset>

                <fieldset class="bx--fieldset"
                    *ngIf="this.checkedUserType && this.checkedUserValue == 'User Credentials'">
                    <ibm-label>
                        Username
                        <input ibmText formControlName="username" [placeholder]="'Enter Username'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset"
                    *ngIf="this.checkedUserType && this.checkedUserValue  == 'User Credentials'">
                    <ibm-label>
                        Password
                        <input ibmText type="password" formControlName="password" [placeholder]="'Enter Password'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset" *ngIf="this.checkedTokenType && this.checkedTokenValue == 'Token'">
                    <ibm-label>
                        Token
                        <input ibmText type="password" formControlName="token" [placeholder]="'Enter Token'">
                    </ibm-label>
                </fieldset>

                <fieldset class=" bx--fieldset">
                    TLS Type <br /><br />
                    <select class="custom-select" formControlName="tlsType">
                        <option value="">Choose your Type</option>
                        <option value="One-Way">One-Way</option>
                        <option value="Two-Way">Two-Way</option>
                    </select>
                    <div class="bx--form-requirement" *ngIf="submitted && f.tlsType.errors">
                        TLS Type is required
                    </div>
                </fieldset>
                <div class="form-button">
                    <button [ibmButton]="ibmButton" [size]="'normal'" id="cancel" type="button" class="ibtn"
                        [routerLink]="['/dashboard/cbs']" routerLinkActive="active">Cancel</button>
                    <button [ibmButton]="ibmButton" [size]="'normal'" id="submit" type="submit"
                        class="ibtn">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>