<div class="cb--page-header__container">
    <header _ngcontent-yve-c2="" class="cb--page-header" role="banner">
        <div _ngcontent-yve-c2="">
            <div _ngcontent-yve-c2="" class="cb--page-header__title" id="page-title"> Change Password
            </div>
            <div _ngcontent-yve-c2="" class="cb--page-header__subtitle">
                Easy to remember, hard to forget
            </div>
        </div>
    </header>
</div>
<div class="cb--page-content__container">
    <div toastContainer></div>
    <div class="idbp-form-container">
        <h4>Change Password</h4>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()" class="signin-form">
            <div class="forms-gds">
                <fieldset class="bx--fieldset">
                    <ibm-label [invalid]="!f.np.pristine && f.np.errors" [invalidText]="ctrl.np.invalidText">
                        New Password
                        <input ibmText type="password" formControlName="np" [invalid]="submitted && f.np.errors"
                            [placeholder]="'Enter New Password'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset">
                    <ibm-label [invalid]="!f.cp.pristine && f.cp.errors"
                        [invalidText]="'Confirm New Password is required'">
                        Confirm Your New Password
                        <input ibmText type="password" formControlName="cp" [invalid]="submitted && f.cp.errors"
                            [placeholder]="'Confirm Your New Password'">
                    </ibm-label>
                </fieldset>
                <div class="form-button">
                    <button [ibmButton]="ibmButton" [size]="'normal'" id="cancel" type="button" class="ibtn"
                        [routerLink]="['/dashboard']" routerLinkActive="active">Cancel</button>
                    <button [ibmButton]="ibmButton" [size]="'normal'" id="submit" type="submit" class="ibtn">Change
                        Password</button>
                </div>
            </div>
        </form>
    </div>
</div>