<div class="cb--page-header__container">
  <header _ngcontent-yve-c2="" class="cb--page-header" role="banner">
    <div _ngcontent-yve-c2="">
      <div _ngcontent-yve-c2="" class="cb--page-header__title" id="page-title"> Configure User Registries
      </div>
    </div>
  </header>
  <div id="breadcrumb"></div>
</div>
<div class="cb--page-content__container">
  <div class="idbp-tile-cards">
    <ibm-tile>
      <div class="tile-header">
        <div mat-card-avatar class="mat-header-link"></div>
        <div class="tile-title">
          <p>Authentication URL User Registry</p>
        </div>
      </div>
      <div class="tile-content">
        <p> Configure user authentication using an authentication URL </p>
      </div>
    </ibm-tile>

    <ibm-tile>
      <div class="tile-header">
        <div mat-card-avatar class="mat-header-link"></div>
        <div class="tile-title">
          <p>LDAP User Registry</p>
        </div>
      </div>
      <div class="tile-content">
        <p> Configure user authentication using a LDAP provider </p>
      </div>
    </ibm-tile>

    <ibm-tile>
      <div class="tile-header">
        <div mat-card-avatar class="mat-header-link"></div>
        <div class="tile-title">
          <details>
            <summary>Local User Registry</summary>
            <p>With this IDBP setup a local UR has already been configured, any new USER or ROLE will be created
              inside of that UR </p>
          </details>
          <br />
        </div>
      </div>
      <div class="tile-content">
        <p> Configure local user using local registry </p>
      </div>
    </ibm-tile>
  </div>
</div>