.idbp{
    margin: 20px 0px 20px 810px;
}

.bx--data-table {
    margin-left: 500px !important;
}

/* Modal */
.fade {
    margin: 90px 0 0 15px;
}
  
.modal-footer-button {
    margin: 1rem -1rem -1rem -1rem;
    display: flex;    
    button {
       flex: 1 0 auto;
    }
}