<div class="cb--page-header__container">
    <header _ngcontent-yve-c2="" class="cb--page-header" role="banner">
        <div _ngcontent-yve-c2="">
            <div _ngcontent-yve-c2="" class="cb--page-header__title" id="page-title">Configure Manage Environment </div>
            <p>We support sandbox, uat, sit & prod environments only as of now. </p>
        </div>
    </header>
    <div id="breadcrumb"></div>
</div>
<div class="cb--page-content__container">
    <ibm-tabs>
        <ibm-tab heading="Deployment">
            <app-dev-ops></app-dev-ops>
        </ibm-tab>
    </ibm-tabs>
</div>