<ng-container>
    <div class="forgot-password-left forgot-password-col">
        <div class="ibm-logo"></div>
        <div class="product-title">
            <h4>IBM Digital Banking Platform</h4>
        </div>
        <div toastContainer></div>
        <div class="forgot-password-form">
            <fieldset class="bx--fieldset">
                <h4>Reset Password</h4>
            </fieldset>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
                <fieldset class="bx--fieldset">
                    <ibm-label [invalid]="!f.np.pristine && f.np.errors" [invalidText]="ctrl.np.invalidText">
                        New Password
                        <input ibmText type="password" formControlName="np" [invalid]="submitted && f.np.errors"
                            [placeholder]="'Enter New Password'">
                    </ibm-label>
                </fieldset>

                <fieldset class="bx--fieldset">
                    <ibm-label [invalid]="!f.cp.pristine && f.cp.errors"
                        [invalidText]="'Confirm New Password is required'">
                        Confirm Your New Password
                        <input ibmText type="password" formControlName="cp" [invalid]="submitted && f.cp.errors"
                            [placeholder]="'Confirm Your New Password'">
                    </ibm-label>
                </fieldset>
                <div class="button-section">
                    <button id="submit" [ibmButton]="'primary'" [size]="'normal'" type="submit">
                        Change Password
                        <svg class="bx--btn__icon" width="32" height="32" viewBox="0 0 32 32"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 6l-1.4 1.4 7.5 7.6H3v2h21.1l-7.5 7.6L18 26l10-10z"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--close of forgot-password-left forgot-password-col div-->
    <div class="forgot-password-right forgot-password-col"></div>
</ng-container>