.manage-resources-tabs {
    margin-left: 400px;
}

.mat-tab-nav-bar {
    display: inline-block;
}

.idbp {
    margin: 20px 0px 20px 777px;
}

.bx--data-table {
    margin-left: 610px !important;
}

/* Modal */
.fade {
    margin: 120px 0 0 15px;
}
  
.modal-footer-button {
    margin: 1rem -1rem -1rem -1rem;
    display: flex;    
    button {
       flex: 1 0 auto;
    }
}